* {
    font-family: 'Genos', sans-serif;
    font-family: 'Lilita One', cursive;
}

header {
    background-color: #919ff8;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100vh;
}

#hello {
    opacity: 0.06;
    font-size: 650px;
    position: relative;
    bottom: 15%;
}

h1 {
    color: black;
    font-size: 120px;
    position: relative;
    top: 35%;
}

h2 {
    font-size: 45px;
    position: relative;
    top: 35%;
    font-style: italic;
}

.square {
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: -1px;

}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
}

.container-fluid {
    height: 100vh;
    padding: 0;
}

.row {
    height: 100%;
    margin: 0;
    padding: 0;
}

.col-sm-4 {
    margin: 0;
    padding: 0;
}

/* give square 1 a diaganoal linear gradient */
#sq1 {
    background-color: #fe555d;
    background-image: linear-gradient(45deg, #fe555d 50%, #fe7075 50%);
}

#sq2 {
    background-color: #5b71ea;
    /* background-image: linear-gradient(135deg, #5b71ea 50%, #919ff8 50%); */
}

#sq3 {
    background-color: white;
}

#sq4 {
    background-color: white;
}

#sq5 {
    background-color: #ffcf51;
}

#sq6 {
    background-color: #fe7075;
    background-image: linear-gradient(45deg, #fe555d 50%, #fe7075 50%);
}

.squareHeader {
    margin: auto;
}

h3 {
    font-size: 60px;
}


.rectangle-row-1 {
    height: 33.33vh;
}


/* Set the background colors of the rectangles */
.bg-1 {
    background-color: #fe7075;
    background-image: linear-gradient(45deg, #fe555d 50%, #fe7075 50%);
}

.bg-2 {
    background-color: white;
}

.bg-3 {
    background-color: #5b71ea;
    background-image: linear-gradient(135deg, #5b71ea 50%, #919ff8 50%);
}

.bg-4 {
    background-color: #ffcf51;
    background-image: linear-gradient(135deg, #ffcf51 50%, #ffe597 50%);
}

.bg-5 {
    background-color: white;
}

.bg-6 {
    background-color: #fe7075;
    background-image: linear-gradient(45deg, #fe555d 50%, #fe7075 50%);
}

.bg-7 {
    background-color: #5b71ea;
    background-image: linear-gradient(45deg, #5b71ea 50%, #919ff8 50%);
}

.bg-8 {
    background-color: white;
}

.bg-9 {
    background-color: #ffcf51;
    background-image: linear-gradient(135deg, #ffcf51 50%, #ffe597 50%);
}



/* about me overlay section */

.about-me {
    width: 100%;
    height: 250px;
    position: relative;
}

.aboutMe2 {
    display: block;
}

nav {
    display: flex;
    flex-direction: row;

}

.navItem {
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 5px 5px 0px 5px;
    border-top: solid 1px #5b71ea;
    border-right: solid 1px #5b71ea;
    border-left: solid 1px #5b71ea;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;

}

.overlay {
    min-height: 800px;
    width: 70%;
    z-index: 9;
    left: 0;
    right: 0;
    margin: 80px auto;
    background: white;
    position: absolute;
    box-shadow: 0px 0px 10px rgb(175, 160, 160);
    border-radius: 30px;
    padding: 5%;

}

/* *******************NAV BAR SECTION•••••••••••••••••• */


.navbar {
    position: relative;
    left: 0px;
    height: auto;
    width: 100%;
    background: white;
    border-radius: 20px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-bottom: 0px;
    padding-left: 40px;
}

.navbar ul li {
    display: inline;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    background-color: #5b71ea;
}

.navbar ul li.active {
    background:#919ff8;
}

.navbar ul li a {
    text-decoration: none;
    color: #22201f;
}

.navbar ul li.active a {
    color: #22201f;
}

.navbar ul li b.left-curve {
    position: absolute;
    bottom: 0px;
    left: -20px;
    height: 100%;
    width: 20px;
    background:#919ff8;
    display: none;
}

.navbar ul li b.left-curve::before {
    content: " ";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background:white;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    white-space: nowrap;
    font-size: 3vw;
    z-index: 1000;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
    @include skew(0, -6.7deg, false);
    @include transition-property(font-size);
    @include transition-duration(0.5s);
}

.navbar ul li b.right-curve {
    position: absolute;
    right: -20px;
    top: 0px;
    height: 100%;
    width: 20px;
    background:#919ff8;
    display: none;
}

.navbar ul li b.right-curve::before {
    content: " ";
    right: 0;
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    border-bottom-left-radius: 20px;
    background: white;
}

.navbar ul li.active b.left-curve {
    display: block;
}

.navbar ul li.active b.right-curve {
    display: block;
}

/* END NAV BAR SECTION */

.meImg {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    right: 30px;
    bottom: 0;
    align-self: flex-end;
}

.me2 {
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.rectangle3 {
    height: 33%;
    width: 100%;
    background: #919ff8;

}