* {
    font-family: 'Genos', sans-serif;
    font-family: 'Lilita One', cursive;
}

header {
    background-color: #919ff8;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100vh;
}

#hello {
    opacity: 0.045;
    font-size: 900px;
    position: relative;
    bottom: 35%;
}

h1 {
    color: black;
    font-size: 120px;
    position: relative;
    top: 35%;
}

h2 {
    font-size: 45px;
    position: relative;
    top: 35%;
    font-style: italic;
}

.square {
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: -1px;

}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100vh;
    padding: 0;
}

.row {
    height: 100%;
    margin: 0;
    padding: 0;
}

.col-sm-4 {
    margin: 0;
    padding: 0;
}

/* give square 1 a diaganoal linear gradient */
#sq1 {
    background-color: #fe555d;
    background-image: linear-gradient(45deg, #fe555d 50%, #fe7075 50%);
}

#sq2 {
    background-color: #5b71ea;
    /* background-image: linear-gradient(135deg, #5b71ea 50%, #919ff8 50%); */
}

#sq3 {
    background-color: white;
}

#sq4 {
    background-color: white;
}

#sq5 {
    background-color: #ffcf51;
}

#sq6 {
    background-color: #fe7075;
    background-image: linear-gradient(45deg, #fe555d 50%, #fe7075 50%);
}

.squareHeader {
    position: relative;
    top: 40%;
    margin-left: 30%;
}

h3 {
    font-size: 60px;
}

/* About me section */
/* Set the height of the rows */
.rectangle-row-1 {
    height: 33.33vh;
}



/* Center the contents of the overlay */
/* .overlay h1 {
	text-align: center;
	margin: auto;
}  */

/* Set the background colors of the rectangles */
.bg-1 {
    background-color: #fe7075;
    background-image: linear-gradient(45deg, #fe555d 50%, #fe7075 50%);
}

.bg-2 {
    background-color: white;
}

.bg-3 {
    background-color: #5b71ea;
    background-image: linear-gradient(135deg, #5b71ea 50%, #919ff8 50%);
}

.bg-4 {
    background-color: #ffcf51;
    background-image: linear-gradient(135deg, #ffcf51 50%, #ffe597 50%);
}

.bg-5 {
    background-color: white;
}

.bg-6 {
    background-color: #fe7075;
    background-image: linear-gradient(45deg, #fe555d 50%, #fe7075 50%);
}

.bg-7 {
    background-color: #5b71ea;
    background-image: linear-gradient(45deg, #5b71ea 50%, #919ff8 50%);
}

.bg-8 {
    background-color: white;
}

.bg-9 {
    background-color: #ffcf51;
    background-image: linear-gradient(135deg, #ffcf51 50%, #ffe597 50%);
}


/* rectangle section with project links */
/* .rectangle-section {
    height: 100vh;
    background-color: #919ff8;
    color: white;
    width: 100vw;
} */


/* about me overlay section */

.about-me {
    width: 100%;
    height: 250px;
    position: relative;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    height: calc(300% - 150px);
    width: calc(100% - 140px);
    z-index: 9;
    margin: 80px;
    background: white;
    position: absolute;
    box-shadow: 0px 0px 10px rgb(175, 160, 160);
    border-radius: 30px;
}

.rectangle3 {
    height: 33%;
    width: 100%;
    background: #919ff8;

}