* {
    font-family: 'Genos', sans-serif;
    font-family: 'Lilita One', cursive;
}

header {
    background-color: #919ff8;
    color: white;
    padding: 20px;
    text-align: center;
    height: 100vh;
}

#hello {
    opacity: 0.045;
    font-size: 900px;
    position: relative;
    bottom: 35%;
}

h1{
    color: black;
    font-size: 120px;
    position: relative;
    top: 35%;
}

h2 {
    font-size: 45px;
    position: relative;
    top: 35%;
    font-style: italic;
}

.colorGrid {
    height: 100vh;
}

.square {
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: -1px;
    /* remove gap between rows */
}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
}

.container-fluid {
    height: 100vh;
    padding: 0;
}

.row {
    height: 100%;
    margin: 0;
    padding: 0;
}

.col-sm-4 {
    margin: 0;
    padding: 0;
}

/* give square 1 a diaganoal linear gradient */
#sq1 {
    background-color: #fe555d;
    background-image: linear-gradient(45deg, #fe555d 50%, #fe7075 50%);
}

#sq2 {
    background-color: #5b71ea;
    /* background-image: linear-gradient(135deg, #5b71ea 50%, #919ff8 50%); */
}

#sq3 {
    background-color: white;
}

#sq4 {
    background-color: white;
}

#sq5 {
    background-color: #ffcf51;
}

#sq6 {
    background-color: #fe7075;
    background-image: linear-gradient(45deg, #fe555d 50%, #fe7075 50%);
}

.squareHeader {
    position: relative;
    top: 40%;
    margin-left: 30%;
}

h3 {
    font-size: 60px;
}

.rectangle-section {
    height: 100vh;
    background-color: #919ff8;
    color: white;
    width: 100vw;
}